title: "Matthew Long"
description: "Personal website of engineer, designer, developer, and illustrator Matthew Long."
locale: en_US
words_per_minute: 150
title_separator: "-"
url: http://www.mtlong.me

# Site owner
owner:
  name: "Matthew Long"
  email: long.matthew29@gmail.com
  twitter: MaLong29
  github: mtlong29
  github-repo: https://github.com/mtlong29/MySite

# Jekyll configuration
lsi: true

markdown: kramdown

kramdown:
  toc_levels: 1..3
  syntax_highlighter: rouge

keep_files: [images]

include:
  - _pages

exclude:
  - Gemfile
  - LICENSE
  - README
  - .asset-cache
  - .sass-cache

gems:
  - jekyll-archives
  - jekyll/tagging
  - jekyll-tagging-related_posts
  - jekyll-assets
  - breakpoint
  - uglifier

# Collections
collections:
  components:
    output: false
  colors:
    output: false

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development

assets:
compress:
  js: true
  sources:
    - assets/javascripts
    - assets/stylesheets
  autoprefixer:
    browsers: ["last 2 versions","> 5%","IE 9"]
    
sass:
  sass_dir: assets/stylesheets
  style: compressed

tag_page_layout: tag_index
tag_page_dir: tag

#Plugin: jekyll-archives
jekyll-archives:
  enabled:
    - tags
  layouts:
    tag: tag_index
  permalinks:
    tag: /tag/:name/