<!-- general -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">

<!-- description -->
<meta name="description" content="">

<!-- author -->
<meta name="author" property="article:author" content="{% if page.author %}{{page.author}}{% else %}Matthew Long{% endif %}">

<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@MaLong29">
<meta name="twitter:creator" content="@MaLong29">
<meta name="twitter:image:alt" content="{% if page.path contains '_posts' %}{{page.excerpt}}{% else %}{{site.description}}{% endif %}">

<!-- og -->
<meta property="og:image:alt" content="{% if page.path contains '_posts' %}{{page.excerpt}}{% else %}{{site.description}}{% endif %}">
<meta property="og:title" content="{% if page.title %}{{page.title}} - Matthew Long{% else %}Matthew Long{% endif %}">
<meta property="og:type" content="website">
<meta property="og:url" content="{% if page.permalink %}{{site.url}}{{page.permalink}}{% else %}{{site.url}}{% endif %}">
<meta property="og:site_name" content="{{site.title}}">
<meta property="og:description" content="{% if page.path contains '_posts' %}{{page.excerpt}}{% else %}{{site.description}}{% endif %}">
<meta property="og:image" content="{% if page.path contains '_posts' %}{{site.url}}/assets/images/teaser/{{page.image.teaser}}{% else %}{{site.url}}/assets/images/teaser/pandf-card.jpg{% endif %}">

<!-- title -->
<title>{% if page.title %}{{page.title}} - Matthew Long{% else %}Matthew Long{% endif %}</title>

<!-- description -->
<meta itemprop="description" content="{{ page.excerpt | strip_html }}">

<!-- date -->
{% if page.date %}
<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">
{% endif %}

<!-- link to sitemap -->
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

<!-- google font links -->
<link href="//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700%7CPT+Serif:400,700,400italic" rel="stylesheet" type="text/css">

<!-- stylesheet links -->
<link rel="stylesheet" type="text/css" href="/assets/servedCSS/all.css">

<!-- favicons -->
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16">