<!-- Navigation bar -->
<header class="masthead">
  <div class="container">
    <a class="mastheadTitle" href="{{site.url}}/">{{ site.title }}</a>
    <nav id="nav-primary" class="mastheadMenuWrapper">
      <ul class="mastheadMenu">
<!--        <li><a href="{{site.url}}" class="mastheadMenuItem">Home</a></li>-->
        <li><a href="{{site.url}}/about/" class="mastheadMenuItem">About</a></li>
        <li><a href="{{site.url}}/resume/" class="mastheadMenuItem">Resume</a></li>
        <li><a href="{{site.url}}/portfolio/" class="mastheadMenuItem">Portfolio</a></li>
        <li><a href="{{site.url}}/blog/" class="mastheadMenuItem">Blog</a></li>
        <!-- Button for large dropdown menu. -->
        <li><a href="#0" class="overlayMenuTrigger mastheadMenuItem" aria-label="Navigation Menu" title="Navigation Menu">•&nbsp;•&nbsp;•</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- Large dropdown menu -->
<nav class="overlayMenu">
  <div class="overlayMenuWrapper container">
    <ul class="overlayMenuCol-1">
      <li class="overlayMenuLabel">Of Interest</li>
      <li class="overlayMenuItem"><a class="primaryLinks" href="{{site.url}}/about/">About</a></li>
      <li class="overlayMenuItem"><a class="primaryLinks" href="{{site.url}}/resume/">Resume</a></li>
      <li class="overlayMenuItem"><a class="primaryLinks" href="{{site.url}}/portfolio/">Portfolio</a></li>
      <li class="overlayMenuItem"><a class="primaryLinks" href="{{site.url}}/blog/">Blog</a></li>
      <li class="overlayMenuItem"><a class="primaryLinks" href="{{site.url}}/sitemap/">Sitemap</a></li>
    </ul>
    <ul class="overlayMenuCol-2">
      <li class="overlayMenuLabel">Latest Blog Item</li>
        {% for post in site.categories.blog limit:1 %}
          <a href="{{site.url}}{{post.url}}">
            <div class="mastheadPosts">
              <img src="{{site.url}}/images/teaser/{{post.image.teaser}}" alt="{{post.title}}" title="{{post.title}}">
              <div class="caption">
                <h3>{{post.title}}</h3>
                <h5>{{post.subtitle}}</h5>
              </div>
            </div>
          </a>
        {% endfor %}
    </ul>
    <ul class="overlayMenuCol-3">
      <li class="overlayMenuLabel">Latest Portfolio Item</li>
        {% for post in site.categories.portfolio limit:1 %}
          <a href="{{site.url}}{{post.url}}">
            <div class="mastheadPosts">
              <img src="{{site.url}}/images/teaser/{{post.image.teaser}}" alt="{{post.title}}" title="{{post.title}}">
              <div class="caption">
                <h3>{{post.title}}</h3>
                <h5>{{post.subtitle}}</h5>
              </div>
            </div>
          </a>
        {% endfor %}
    </ul>
  </div>
  <button class="overlayMenuClose">[ESC] Close Menu</button>
</nav>

<div id="screen"></div>
