/************************************************************
fadein animation
************************************************************/

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/************************************************************
magnific-popup zoom-in
************************************************************/

.mfp-zoom-in {
  // start state
  .mfp-with-anim {
    opacity: 0;
    @include transition(.25s, ease-in-out, all);
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    @include transition(.25s, ease-out, all);
  }

  // animate in
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  // animate out
  &.mfp-removing {
    .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}