/************************************************************
html - typography,
************************************************************/

html {
  // apply a natural box layout model to all elements
  box-sizing: border-box;
  background-color: $lightGray;
  font-size: 15px;
  @include breakpoint($medium) {
    font-size: 16px;
  }
  @include breakpoint($large) {
    font-size: 18px;
  }
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/************************************************************
universal selector - box sizing, 
************************************************************/

// apply a natural box layout model to all elements
*,
*:before,
*:after {
  box-sizing: inherit;
}


/************************************************************
body - remove margins, 
************************************************************/

body {
  margin: 0;
  padding: 0;
  color: $gray;
  font-family: $serif;
  line-height: 1.5;
  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}


/************************************************************
selected elements
************************************************************/

::selection {
  color: $white;
  background: $black;
}

/************************************************************
display HTML5 elements in IE6-9 and FF3
************************************************************/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/************************************************************
heading elements
************************************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

/************************************************************
default link styling
************************************************************/

a {
  text-decoration: none;
  color: $gray;
  border-bottom: 2px solid $gray;
  font-weight: bold;
  &:hover {
    color: $black;
    border-bottom: 4px solid $black;
  }
}

// remove outline from links

a:hover,
a:active,
a:focus {
  outline: 0;
}

/************************************************************
blockquotes
************************************************************/

blockquote {
  margin: 0.8em 0em 0.8em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: 0.4em solid $accentColor;
  a {
    color: inherit;
  }
  cite {
    font-family: $sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

/************************************************************
lists
************************************************************/

ol,
ul {
  @include breakpoint($small) {
    ol,
    ul {
      padding: 0em 0em;
      margin-top: 0rem;
    }
  }
}

/************************************************************
code blocks
************************************************************/

tt,
code,
kbd,
samp,
pre {
  font-family: $monospace;
  font-size: 0.8rem;
}

pre {
  overflow-x: auto; // add scrollbars to wide code blocks
}

p code,
li code,
figcaption code {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: lighten($gray, 55%);
  border: 1px solid $lightGray;
  border-radius: $border-radius;
  &:before,
  &:after {
    letter-spacing: 0em;
    content: "\00a0"; // non-breaking space
  }
}

/************************************************************
horizontal rules
************************************************************/

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 5px solid $accentColor;
}

/************************************************************
figures and images
************************************************************/

// ensures images dont stretch past their parent container
img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

// figures
figure {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1.5em 0;
  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 0em;
  }
  img {
    width: 100%;
    border-radius: $border-radius;
    @include transition(.3s, ease-in-out, box-shadow);
  }
  >a {
    display: block;
    // image hover animation
    &:hover {
      img {
        @include boxShadow(0, 0, 10px, rgba(#000, 0.2));
      }
    }
  }
  &.half {
    >a,
    >img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
        margin-bottom: 1em;
      }
    }
    figcaption {
      width: 100%;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
  }
  &.third {
    >a,
    >img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }
    figcaption {
      width: 100%;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
  }
}

// figure captions
figcaption {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: mix(#fff, $gray, 25%);
  font-family: $sans-serif;
  font-size: 0.8rem;
  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $lightGray;
    @include transition(.25s, ease-in-out, border);
    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }
  code {
    font-size: 0.64rem;
  }
}

// remove anchor styling from images

.image-popup {
  border-bottom: 0;
  &:hover {
    border-bottom: 0;
  }
}


/************************************************************
navbar 
************************************************************/

// hide bullets from navbar
nav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

/************************************************************
footer
************************************************************/

.colophon {
  margin-top: 0em;
  padding: 0;
  color: lighten($black, 50%);
  font-size: 0.8rem;
  a {
    color: $black;
    text-decoration: none;
  }
}

/************************************************************
global animation transition 
************************************************************/

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
h3,
h4,
header,
input,
a,
tr,
td,
input[type="submit"],
.btn,
.highlight,
.archive__item,
.archive__item-thumb,
.archive__item-body,
.palette__swatch {
  @include transition(.2s, ease-in-out, all);
}