/************************************************************
single page and post styles
************************************************************/

#main {
  padding-top: $masthead-height;
  animation: fade-in .5s;
}

/************************************************************
page header
************************************************************/

.page-header {
  @include userSelect(none);
  position: relative;
  margin: 1rem -1rem 1rem;
  order: 2;
  @include breakpoint($small) {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  @include breakpoint($medium) {
    margin-left: -3rem;
    margin-right: -3rem;
  }
}

/************************************************************
page content
************************************************************/

.page-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 0em;
  @include breakpoint($small) {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }
}

.page-inner-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  @include breakpoint($medium-wide) {
    width: calc(100% - 200px);
  }
  @include breakpoint($large) {
    width: calc(100% - 240px);
  }
  @media (min-width: 1025px) {
    width: calc(100% - 380px);
  }
}

.page-inner-wrapper-archive {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  @include breakpoint($medium-wide) {
    width: calc(100%);
  }
  @include breakpoint($large) {
    width: calc(100%);
  }
  @media (min-width: 1025px) {
    width: calc(100%);
  }
}

/************************************************************
post body
************************************************************/

.page-body {
  width: 100%;

  // paragraph styles in pages and posts
  p {
    max-width: 45rem; // keep measure at a readable length
    margin-top: 0em;
    margin-bottom: .5em;
  }

  // introductory paragraph
  >p:first-child {
    margin-top: 0;
    font-size: 1.125rem;
    @include breakpoint($medium) {
      font-size: 1.25rem;
    }
  }

  // heading styles in pages and posts
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    margin-top: 1;
    font-family: $serif;
    a {
      color: $gray;
    }
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  // heading style for experience section on resume page
  h4 {
    .experience {
      margin-bottom: .75em;
      margin-top: 0;
    }
  }

  // list styling in pages
  ul,
  ol {
    li + li {
      margin-top: 0em;
    }
  }

  h1 + ul,
  h2 + ul,
  h3 + ul {
    margin-top: .8px;
  }

  // hide toc to avoid flash of content as it moves to sidebar
  .js-toc {
    display: none;
  }
}

/************************************************************
post title
************************************************************/

.page-title {
  margin: 0;
  font-family: $serif;
  font-size: 1.953rem;
  order: 3;
}

/************************************************************
post excerpt
************************************************************/

.page-excerpt {
  margin-bottom: 0;
  max-width: 45rem; // keep measure at a readable length
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.5;
  order: 4;
  @include breakpoint($medium) {
    font-size: 1.25rem;
  }
  >a {
    border-bottom: 1px solid $lightGray;
    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }
}

/************************************************************
sidebar
************************************************************/

.sidebar {
  width: 100%;
  @include breakpoint($medium-wide) {
    margin-left: 80px;
    width: 160px;
  }
  @media (min-width: 1025px) {
    margin-left: 80px;
    width: 300px;
  }
  .js-toc {
    @media (max-width: 1025px) {
      display: none !important; // override
    }
  }
}

/************************************************************
course tags for notes page
************************************************************/

#courseTags {
  button {
    @include transition(.25s, ease-in-out, background);
    padding: .5rem;
    margin: .5rem;
    color: $black;
    background: transparent;
    border: 2px solid $black;
    &:hover {
      background: $black;
      color: $white;
    }
  }
}

/************************************************************
404 page styling
************************************************************/

.fourOhFour {
  padding: 25% 25%;
  margin: 0 auto;
  h2 {
    text-align: right;
  }
}