/************************************************************
blog tiles
************************************************************/

.tilesContainer {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    font-weight: normal;
  }
  .individualTile {
    display: flex;
    flex: 1 calc(100%/3);
    .tileImage {
      background-size: cover;
      background-position: center;
      border-radius: $border-radius;
    }
    .tileContent {
      h2 {
        margin-top: 0;
        margin-bottom: .25rem;
        padding: 0;
        font-size: 1.25rem;
      }
      .subTitle,
      .course {
        display: flex;
        align-content: center;
        h3 {
          border-left: 4px solid $gray;
          display: flex;
          margin: .25rem 0;
          padding: 0 0 0 .5rem;
          width: 100%;
          font-size: 1rem;
          text-transform: uppercase;
          &:after {
            content: "\a0";
            margin-left: .5rem;
            align-self: center;
            height: 4px;
            background: $gray;
            flex-grow: 1;
          }
        }
      }
      .metaData {
        display: flex;
        align-content: center;
        font-size: .75rem;
        margin: 0;
        margin-bottom: .25rem;
        padding: 0;
        text-transform: uppercase;
        .date,
        .stopwatch,
        .readTime {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 .5rem 0 0;
          height: 100%;
        }
        .stopwatch {
          svg {
            max-width: 20px;
          }
        }
      }
      p {
        margin: 0;
        margin-bottom: .25rem;
        font-size: .8rem;
      }
    }
    &:hover {
      .tileImage {
        @include boxShadow(0, 0, 10px, rgba($black, 0.5));
      }
      .tileContent {
        h2 {
          text-decoration: underline;
        }
      }
    }
  }
  .tileBottom {
    margin-bottom: 2rem;
  }
}

.horizontal {
  display: block;
  .individualTile {
    flex-direction: row;
    width: 100%;
    .tileImage {
      margin-right: 1rem;
      flex: 3;
    }
    .tileContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      flex: 5;
      .subTitle {
        display: none;
      }
    }
  }
}

.vertical {
  flex-wrap: wrap;
  .individualTile {
    flex-direction: column;
    max-width: 328px;
    .tileImage {
      min-height: 200px;
      width: auto;
    }
  }
}

@media screen and (max-width: $medium-wide) {
  article {
    width: 100%;
  }
  .horizontal {
    justify-content: center;
    flex-wrap: wrap;
    .individualTile {
      flex-direction: column;
      .tileImage {
        margin-right: 0;
        min-height: 200px;
      }
      .tileContent {
        padding: 0;
      }
    }
  }
  .vertical {
    justify-content: center;
    .individualTile {
      max-width: 100%;
    }
  }
}

#featuredBlog,
#featuredPortfolio {
  width: 100%;
  h3 {
    &.tileHeader {
      display: flex;
      margin: 1rem 0;
      padding: 0;
      width: 100%;
      font-size: 1.25rem;
      font-family: bold;
      text-transform: uppercase;
      &:after {
        content: "\a0";
        margin-left: .5rem;
        align-self: center;
        height: 4px;
        background: $accentColor;
        flex-grow: 1;
      }
    }
  }
}
