<div class="featured">
    
  <h3 class="tile__header">Portfolio Preview</h3>
  
  <p>Below are a few examples of my work. Click <a href="{{ site.ur l}}/portfolio" class="fancyLink">here</a> to see even more, or you can click <a href="{{ site.url }}/resume" class="fancyLink">here</a> to see my resume.</p>
    
  <div class="tiles">
    {% assign features = site.categories[page.feature-portfolio.category] | where:"featured", true %}
    
      {% for post in features limit:3 %}
      
      {% include /globalSections/tileVertical.html %}
          
    {% endfor %}
          
  </div>
</div>
