/* ARCHIVE */

.archive__item {
  display: flex;
  justify-content: flex-end;
  padding-top: .5em;
  &:hover {
    .archive__item-title,
    .archive__item-excerpt {
      color: #000;
    }
    .archive__item-title {
      text-decoration: underline;
    }
    .archive__item-thumb {
      box-shadow: 0 0 10px rgba(#000, 0.5);
    }
  }
}

.archive__item-body {
  flex: 3;
  order: 1;
  padding: 1em 0 1em 1em;
}

.archive__item-title {
  margin: 0 !important;
  padding: 0;
  font-family: $sans-serif-narrow;
  font-size: 1.25rem;
}

.archive__item-meta {
	display: flex;
  margin-top: 0.5em;
  font-family: $sans-serif;
  font-size: 0.64rem;
  text-transform: uppercase;
  color: $gray;
}

.archive__item-time {
	display: flex;
	svg {
		max-height: 20px;
    padding: 0 0.5em;
		fill: $gray;
	}
  &:before {
    content: "";
  }
}

.archive__item-excerpt {
  margin: 0.5em 0 0;
  padding: 0;
  font-size: 0.8rem;
}

.archive__item-thumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
  background-color: $lightGray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: $border-radius;
}
