/* BASE ELEMENTS */

/* Breakpoint-Sass */

@include breakpoint-set('to ems', true);


/* Typography */

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $serif;
  line-height: 1.5;
  &.overflow--hidden {
    /* when primary navigation is visible, the content in the background won't scroll */
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

small {
  font-size: 0.8rem;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid $text-color;
  a {
    color: inherit;
  }
}

/* reduce orphans and widows when printing */
p, pre, blockquote, ul, ol, dl, figure, table, fieldset {
  orphans: 3;
  widows: 3;
}

/* Abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted $text-color;
}

/* Blockquotes */

blockquote {
  margin: 0.8em 0em 0.8em 0;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
  border-left: 0.4em solid $pale-blue;
  a {
    color: inherit;
  }
  cite {
    font-family: $sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    &:before {
      content: "\2014";
      padding-right: 5px;
    }
  }
}

/* Lists */

ol, ul {
  @include breakpoint($small) {
    padding-left: 0;
    ol, ul {
      padding: 0em 0em;
      margin-top: 0rem;
    }
  }
}

/* Code */

tt, code, kbd, samp, pre {
  font-family: $monospace;
  font-size: 0.8rem;
}
pre {
  overflow-x: auto; // add scrollbars to wide code blocks
}
p code,
li code,
figcaption code {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: mix(#fff, $light-gray, 40%);
  border: 1px solid $light-gray;
  border-radius: $border-radius;
  &:before, &:after {
    letter-spacing: 0em;
    content: "\00a0"; // non-breaking space
  }
}

/* Horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 5px solid $pale-blue;
}

/* Figures and images */

figure {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1.5em 0;
  img,
  iframe,
  .fluid-width-video-wrapper {
    margin-bottom: 0em;
  }
  img {
    width: 100%;
    border-radius: $border-radius;
    transition: box-shadow 0.3s;
  }
  > a {
    display: block;
    // image hover animation
    &:hover {
      img {
        box-shadow: 0 0 10px rgba($black, 0.20);
      }
    }
  }
  &.half {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(50% - 0.5em);
      }
    }
    figcaption {
      width: 100%;
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
  }
  &.third {
    > a,
    > img {
      @include breakpoint($small) {
        width: calc(33.3333% - 0.5em);
      }
    }
    figcaption {
      width: 100%;
      margin-top: 0rem;
      margin-bottom: 0rem;        
    }
  }
}

/* Figure captions */

figcaption {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: mix(#fff, $text-color, 25%);
  font-family: $sans-serif;
  font-size: 0.8rem;
  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $light-gray;
    transition: border 0.4s ease-in-out;
    &:hover {
      color: #000;
      border-bottom-color: #000;
    }
  }
  code {
    font-size: 0.64rem;
  }
}

/* Hide bullets from navbar */
nav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

/* Global animation transition */

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, input[type="submit"], .btn, .highlight, .archive__item, .archive__item-thumb, .archive__item-body, .palette__swatch {
  transition: all 0.2s ease-in-out;
}
