/* MASTHEAD */

.masthead {
	position: fixed;
	top: 0;
	width: 100%;
	height: $masthead-height;
	font-family: $sans-serif;
	background-color: $white;
	border-bottom: 4px solid $accentColor;
	z-index: 11;
	animation: fade-in 3s;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.125);
	.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	a {
		color: $gray;
		&:hover {
			color: $black;
		}
	}
	.overlayMenuTrigger {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
		font-weight: bold;
		border-radius: $border-radius;
		&:before {
			display: none;
		}
		&:hover {
			background-color: $gray;
		}
	}
}

.mastheadMenuWrapper {
	@media (max-width: $small) {
		width: 100%;
	}
}

.mastheadMenu {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	.is--hidden {
		@media (max-width: $small) {
			display: none;
		}
	}
}

.mastheadTitle {
	display: none;
	@include breakpoint($small) {
		display: block;
		margin: 10px 0;
		padding: 10px 0 10px 0;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 0.8rem;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.mastheadMenuItem {
	position: relative;
	display: block;
	margin: 10px 0 0;
	padding: 10px 0 20px;
	font-size: 0.8rem;
	font-weight: bold;
	line-height: 0.8rem;
	&:before {
		content: '';
		position: absolute;
		bottom: -2px;
		height: 6px;
		width: 100%;
		background-color: $accentColor;
		transition: all 300ms cubic-bezier(0.325, -0.075, 0, 1.65);
		transform: scaleX(0);
	}
	&:hover:before {
		transform: scaleX(1);
	}
	&.is--active {
		color: $black;
		cursor: default;
		&:before {
			transform: scaleX(1);
			background-color: $black;
		}
	}
	@include breakpoint($small) {
		margin-left: 30px;
		margin-right: 0;
	}
}


/* Overlay menu */

.overlayMenu {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	padding: 50px 0 0;
	background-color: $lightGray;
	z-index: 10;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	transform: translateY(-100%);
	transition: transform 0.4s cubic-bezier(.86, .01, .77, .78);
	box-shadow: 0 0 10px rgba(#000, 0.5);
	ul {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	a {
		display: inline-block;
		margin: 5px 0;
		padding: 5px 5px 5px 0;
		color: $black;
		border-radius: $border-radius;
	}
	a.primaryLinks {
		&:hover {
			padding-left: 10px;
			padding-right: 10px;
			background-color: $gray;
		}
	}
	&.is--visible {
		transform: translateY(0);
	}
}

.overlayMenuCol-1 {
	@include breakpoint($small) {
		flex: 2;
		margin-right: 2em;
	}
}

.overlayMenuCol-2 {
	@include breakpoint($small) {
		flex: 4;
		margin-right: 2em;
	}
}

.overlayMenuCol-3 {
	@include breakpoint($small) {
		flex: 4;
	}
}

.overlayMenuWrapper {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	@include breakpoint($small) {
		flex-direction: row;
	}
}

.overlayMenuItem {
	display: block;
	width: 100%;
	font-size: 1.563rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include breakpoint($large) {
		font-size: 1.953rem;
		line-height: 1.953rem;
	}
}

.overlayMenuItemSecondary {
	display: block;
	width: 100%;
	font-size: 1.563rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include breakpoint($large) {
		line-height: 1.953rem;
	}
}

.overlayMenuLabel {
	margin: 30px 0 15px;
	width: 100%;
	font-family: $sans-serif;
	font-weight: bold;
	font-size: 0.8rem;
	line-height: 1.25;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	&:after {
		content: '\a0';
		position: relative;
		top: 0.5rem;
		height: 4px;
		background: $accentColor;
		flex-grow: 1;
	}
	&:before {
		margin-right: 10px;
	}
	&:after {
		margin-left: 10px;
	}
}

.overlayMenuClose {
	margin-top: 30px;
	margin-bottom: 0;
	width: 100%;
	font-family: $monospace;
	text-transform: uppercase;
	border-radius: 0;
	&:active {
		transform: translateY(0);
	}
}


/* Screen */

#screen {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	visibility: hidden;
	z-index: 9;
	transition: opacity 0.5s, visibility 0s 0.5s;
	&.is--visible {
		opacity: 1;
		visibility: visible;
		transition: opacity 0.5s;
		cursor: pointer;
	}
}

.mastheadPosts {
	font-family: $monospace;
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin: 10px 8px;
	width: 100%;
	color: $white;
	font-size: 16px;
	text-align: left;
	* {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: all 0.25s ease;
		transition: all 0.25s ease;
	}
	&:before {
		position: absolute;
		top: 10px;
		bottom: 10px;
		left: 10px;
		right: 10px;
		top: 100%;
		content: '';
		background-color: $gray;
		border-radius: $border-radius;
		opacity: 0.5;
		-webkit-transition: all 0.25s ease;
		transition: all 0.25s ease;
		-webkit-transition-delay: 0.25s;
		transition-delay: 0.25s;
	}
	img {
		vertical-align: top;
		max-width: 100%;
		backface-visibility: hidden;
	}
	.caption {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	h3,
	h5 {
		margin: 0;
		opacity: 0;
		color: $white;
	}
	h3 {
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		text-transform: uppercase;
		font-weight: 400;
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s;
		margin-bottom: 5px;
	}
	h5 {
		font-weight: normal;
		background-color: $accentColor;
		border-radius: $border-radius;
		padding: 3px 10px;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
	a {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	&:hover:before,
	&.hover:before {
		top: 10px;
		-webkit-transition-delay: 0s;
		transition-delay: 0s;
	}
	&:hover h3,
	&.hover h3,
	&:hover h5,
	&.hover h5 {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
	&:hover h3,
	&.hover h3 {
		-webkit-transition-delay: 0.3s;
		transition-delay: 0.3s;
	}
	&:hover h5,
	&.hover h5 {
		-webkit-transition-delay: 0.2s;
		transition-delay: 0.2s;
	}
}
