@mixin notice($accentColor) {
	margin: 2em 0;
	padding: 1em;
	background-color: mix(#fff, $accentColor, 90%);
	border-top: 0.25em solid mix(#fff, $accentColor, 50%);
	border-bottom: 0.25em solid mix(#fff, $accentColor, 50%);
	h4 {
		margin-top: 0;
		margin-bottom: 0.75em;
		line-height: 1;
	}
	@at-root .page-content #{&} h4 {
		margin-bottom: 0;
		font-size: 1rem;
	}
	@at-root .page-content #{&} a {
		border-bottom-width: 2px;
		box-shadow: none;
		&:hover {
			background-color: transparent;
		}
	}
	p {
		margin-bottom: 0;
		a {
			border-bottom: 1px solid mix(#fff, $accentColor, 50%);
		}
	}
	h4+p {
		margin-top: 0;
		padding-top: 0;
	}
	code {
		background-color: mix(#fff, $accentColor, 70%)
	}
}
