// Typography

$serif: "PT Serif", serif;
$sans-serif: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
$sans-serif-narrow: "PT Sans Narrow", sans-serif;
$monospace: Monaco, Consolas, "Lucida Console", monospace;

$doc-font-size: 16;
$doc-line-height: 24;

// Primary Site Colors

$white: #fff;
$black: #000;

$gray: #4c4c4c;
$darkGray: darken($gray, 75%);
$lightGray: lighten($gray, 65%);

$accentColor: #5C88C4;

$instagram-color: #4e433c;
$linkedin-color: #4875b4;
$twitter-color: #55acee;
$github-color: #333333;

$highlighter-color: #f3bc15;

// Commonly Used SCSS Values

$border-radius: 4px;

// Menu Values

$masthead-height: 53px;


$text-color: $gray;
$headline-color: $gray;

$background-color: $lightGray;

$primary-color: mix($black, $gray, 35%);
$success-color: mix($gray, #2ecc71, 15%);
$warning-color: mix($gray, #f3bc15, 15%);
$danger-color: mix($gray, #dc081d, 15%);
$info-color: mix($gray, #427ab8, 15%);

$border-color: mix($white, $gray, 80%);

$link-color: $text-color;
$link-underline-color: #a9a9a9;
$link-color-hover: #000;

$table-border-color: $border-color;
$table-border: 1px solid $table-border-color;
$table-background: $white;
$table-header-color: $white;
$table-hover-color: mix($gray, $table-background, 10%);
$table-stripe-color: mix($gray, $table-background, 10%);
$table-stripe-color-hover: mix($gray, $table-background, 10%);

$badge-background: $primary-color;
$badge-dark-color: $black;
$badge-danger-color: $danger-color;
$badge-info-color: $info-color;
$badge-warning-color: $warning-color;
$badge-success-color: $success-color;
$badge-font-color: $white;

/* Code snippet variables */

$code-background: mix($white, $border-color, 75%);
$code-border-color: $border-color;
$code-border-color-hover: mix($black, $border-color, 10%);
$code-border-radius: $border-radius;

$inline-code-background: mix($white, $border-color, 75%);


/* Screen sizes */

$small: 600px;
$medium: 768px;
$medium-wide: 900px;
$large: 1024px;
$x-large: 1440px;


/* Visual sitemap */

$sitemap-primary-color: mix($white, $primary-color, 60%);
$sitemap-sub-color: mix($white, $primary-color, 80%);
$sitemap-sub-sub-color: mix($white, $primary-color, 90%);
