// Typography

$serif: "PT Serif", serif;
$sans-serif: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
$sans-serif-narrow: "PT Sans Narrow", sans-serif;
$monospace: Monaco, Consolas, "Lucida Console", monospace;

$doc-font-size: 16;
$doc-line-height: 24;

// Primary Site Colors

$white: #fff;
$black: #000;

$gray: #4c4c4c;
$darkGray: darken($gray, 75%);
$lightGray: lighten($gray, 65%);

$accentColor: #5C88C4;

$instagram-color: #4e433c;
$linkedin-color: #4875b4;
$twitter-color: #55acee;
$github-color: #333333;

// Commonly Used SCSS Values

$border-radius: 4px;

// Menu Values

$masthead-height: 53px;

$headline-color: $gray;

$background-color: $lightGray;

// Screen Sizes for Breakpoints

$small: 600px;
$medium: 768px;
$medium-wide: 900px;
$large: 1024px;
$x-large: 1440px;

/* Visual sitemap */

$sitemap-primary-color: mix($white, $accentColor, 60%);
$sitemap-sub-color: mix($white, $accentColor, 80%);
$sitemap-sub-sub-color: mix($white, $accentColor, 90%);
