---
layout: default
---

<div id="main" role="main">

  <article itemscope itemtype="http://schema.org/CreativeWork">

    <meta itemprop="description" content="{{ page.excerpt | strip_html }}">

    <header class="container post__header">
      <h1 class="post__title" itemprop="headline">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
      {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
      {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}
      {% include /globalSections/pageHeader.html %}
    </header>

      <div class="container post__content">

      <div class="post__inner-wrapper">

        <section class="post__body" itemprop="text">
          {{ content }}
        </section>

        {% if page.path contains '_posts' and page.tags %}
        <div class="postTaxonomy">
          {% include /articleSections/postTaxonomy.html %}
        </div>
        {% endif %}

      </div>

      <aside class="post__sidebar sticky">
        <div class="toc--sidebar"></div>
      </aside>

    </div>

  </article>

</div>