---
layout: default
---

<div id="main" role="main">

  <article itemscope itemtype="http://schema.org/CreativeWork">

    <header class="container">
      {% unless post.url contains notes %}
        <div class="page-header">
          {% if page.image.header %}
            <img src="/assets/images/header/{{page.image.header}}" alt="Header Image for {{page.title}}">
          {% endif %}
        </div>
      {% endunless %}
      <h1 class="page-title" itemprop="headline">{{ page.title | markdownify | remove: '<p>' | remove: '</p>' }}</h1>
    </header>

    <div class="container page-content">
      <div class="page-inner-wrapper">

        <section class="page-body" itemprop="text">
          {{ content }}
        </section>

        {% if page.path contains '_posts/blog' or page.path contains '_posts/portfolio' %}
        <div class="postTaxonomy">
          {% include /articleSections/postTaxonomy.html %}
        </div>
        {% endif %}

      </div>

      <aside class="sidebar sticky">
        <div class="toc--sidebar"></div>
      </aside>

    </div>

  </article>

</div>