---
layout: default
---

<div id="main" role="main">

  <header class="container">    
    <div class="page-header">
      {% if page.image.header %}
        <img src="/assets/images/header/{{page.image.header}}" alt="Header Image for {{page.title}}">
      {% endif %}
    </div>
  </header>

  <div class="container page-content">

    {% unless page.fullwidth == true %}
      <div class="page-inner-wrapper-archive">
        {% endunless %}
          {{ content }}
        {% unless page.fullwidth == true %}
      </div>
    {% endunless %}

  </div>

</div>