---
layout: default
---

{% assign taxonomy = page.title | downcase | slugify %}
{% assign tag = site.data.taxonomy[taxonomy] %}

<div id="main" role="main">

  <header class="container post__header">
    <h1 class="post__title">{{ page.title }}</h1>
    <h2 class="post__excerpt">
      {% if tag.description %}
        {{ tag.description | markdownify | remove: "<p>" | remove: "</p>" }}
      {% else %}
        An archive of posts tagged <em>{{ page.title }}</em>.
      {% endif %}
    </h2>
    {% include /globalSections/pageHeader.html %}
  </header>

  {% if page.feature.visible == true %}
    {% include featured.html %}
  {% endif %}

  <div class="container post__content">

    <div class="post__inner-wrapper-archive">

      <section class="post__body">
        <div class="tilesContainer horizontal">

          {% for post in page.posts %}

            {% include /globalSections/tile.html %}

          {% endfor %}
          
        </div>
      </section>

    </div>

    <aside class="post__sidebar sticky">
    </aside>

  </div>

</div>